#app {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.itemContainer {
  background-color: bisque;
  padding: 25px;
  border: 1px solid pink;
  border-radius: 25px;
}

.itemContainer:hover{
  background-color: rgb(220, 194, 161);
  
}